@import url('../../style/configuration.css');


body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

main {
    width: 70%;
    height: auto;
}

main h1 {
    font-size: 5rem;
    margin-top: 8rem;
    margin-bottom: 10rem;
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
}

main form .login_input {
    margin-top: 4rem;
    padding: 1rem;
    height: 8rem;
    width: 70%;
    padding: 1rem;
    font-size: x-large;
}


main form .login_submit {
    height: 8rem;
    width: 70%;
    font-size: x-large;
    margin-top: 9rem;
    margin-bottom: 0.9rem;
}


main form .message {
    width: 70%;
}


aside {
    display: block;
    background: var(--background-blue);
    width: calc(100% - 70%);
    color: var(--chill-white);
    font-size: large;
    padding: 2%;
}

aside h1 {
    margin-top: 6rem;
}

aside h2 {
    margin-top: 3rem;
    margin-bottom: 20rem;
}

