@import url('../../style/configuration.css');


body {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180.8deg, var(--blue-sea) 16.69%, var(--just-black) 100%);
}

main h1 {
    font-size: 4rem;
    color: var(--just-white);
    margin-top: 5rem;
    margin-bottom: 1rem;
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

main form .login_input {
    margin-top: 10rem;
    align-items: center;
    height: 5rem;
    background: transparent;
    border-style: none;
    font-size: large;
    color: var(--just-white);
    outline: none;
    transition: all 0.3s ease-in-out;
    border-bottom: var(--foxy-orange);
}


main form hr {
    border-width: 0.1rem;
    border-radius: 10px;
    border-color: var(--foxy-orange);
    width: 90%;
}


main form .login_submit {
    margin-top: 5rem;
    height: 8rem;
    width: 20rem;
    background: var(--washed-cyan);
    border-style: none;
    border-radius: 10px;
    font-size: x-large;
    color: var(--just-white);
    transition: all 0.3s ease-in-out;
}

main form .login_submit:hover {
    background: var(--foxy-orange);
}

main form .message {
    width: auto;
    margin-top: 10rem;
    background: #cd2a2a;
    border-style: solid;
    border-width: 0.2rem;
    border-color: #690808;
    border-radius: 10px;
    padding: 2%;
    color: var(--just-white);
    font-weight: bold;
    font-size: large;
}

aside {
    display: none;
}


