:root {
	--blue-sea: #103E55;
    --just-black: #000000;
    --dark-vanilla: #7F7C77;
    --black-dark-vanilla: #403e3c;
    --just-white: #FAFAFA;
    --lazy-white: #E6E1DE;
    --foxy-orange: #FF7F14;
    --washed-cyan: #4F8BA7;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}

html {
	font-size: 62.5%;
	font-family: 'inherir', 'Seoge UI', sans-serif;
	scroll-behavior: smooth; 
}


body {
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

menu {
    width: 100%;
    height: 20%;
    background: var(--blue-sea);
}

menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4% 5%;
}

menu ul li > a {
    text-decoration: none;
    color: var(--just-white);
    font-weight: bolder;
    font-size: xx-large;
    border-radius: 10px;
    padding: 50%;
}

menu ul li > a:hover {
    color: var(--lazy-white);
    background-color: var(--washed-cyan);
    transition: all 200ms ease;
}

main {
    width: 100%;
    background-color: var(--lazy-white);
    height: 100vh;
}

main h1 {
    font-size: xx-large;
    font-weight: bolder;
    color: var(--just-black);
    text-align: center;
    background-color: var(--just-white); 
    margin: 0 40%;
    padding: 1%;
    border-style: solid;
    border-radius: 10px;
    border-width: 0.2rem;
    border-color: var(--just-black);
}

main .message {
    margin: 2% 35%;
    width: 30%;
    background: #76cd2a;
    border-style: solid;
    border-width: 0.4rem;
    border-color: #075a26;
    border-radius: 10px;
    padding: 1%;
    color: var(--just-white);
    font-weight: bold;
    font-size: large;
}

main .cuentas {
    padding: 2% 5%;
    margin: 2% 2%;
    border-width: 0.4rem;
    border-radius: 10px;
    padding: 1%;
    color: var(--just-black);
    font-size: large;
    display: flex;
    justify-content: center;
}

main .cuenta {
    background-color: var(--just-white);
    margin: 2% 10%;
    padding: 5%;
    box-shadow: 0 0 0.2rem 0.2rem var(--just-black);
}