@import url('../../style/configuration.css');

menu ul {
    justify-content: space-around;
}

menu ul li > a {
    font-size: xx-large;
    padding: 3rem;
}


main .cuenta {
    font-size: 4.5rem;
}

.message {
    font-size: xx-large;
}

.success {
    font-size: xx-large;
}

main section > div {
    margin: 2rem 25rem;
}

main section h2 {
    width: 20%;
}

main .transaccion h3 {
    font-size: xx-large;
}

main .transaccion p {
    font-size: x-large;
}