@import url('../../style/configuration.css');




main section {
    width: 45%;
    margin: 0 2%;
}

menu ul {
    margin: 2%;
}

menu ul li > a {
    font-size: xx-large;
}

.message {
    font-size: x-large;
}

.success {
    font-size: x-large;
}

main .cuenta {
    font-size: xx-large;
}

main .transaccion {
    margin: 2%;
    padding: 1%;
    border-radius: 4px;
}

main .transaccion h3 {
    font-size: x-large;
}
