@import url('../../style/configuration.css');

menu ul {
    justify-content: space-around;
    margin: 2%;
}

menu ul li > a {
    font-size: x-large;
    padding: 1.5rem;
}

.message {
    font-size: x-large;
}

.success {
    font-size: x-large;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

main section {
    width: 50%;
}

main section > div {
    margin: 2rem;
}

main section h2 {
    font-size: 3.5rem;
    margin: 2rem 10%;
    padding: 2%;
    margin-top: 3rem;
}

main .cuenta {
    font-size: xx-large;
}

main .transaccion {
    margin: 2%;
    padding: 1%;
    border-radius: 4px;
}

main .transaccion h3 {
    font-size: x-large;
}
