@import url('../../style/configuration.css');


h1 {
    font-size: 3rem;
    margin-top: 4rem;
}

a {
    font-size: xx-large;
    padding: 2rem;
}

form {
    width: 60%;
    margin: 0 2rem;
    margin-top: 4rem;
}

form input {
    font-size: large;
    margin: 3%;
}

form .submit {
    margin-top: 4rem;
}