@import url('../../style/configuration.css');


h1 {
    font-size: 3.5rem;
}

form {
    width: 45%;
    margin: 0 2rem;
    margin-top: 10rem;
}

input {
    margin: 2%;
}

.submit {
    font-size: x-large;
}
