:root {
	--blue-sea: #103E55;
    --just-black: #000000;
    --dark-vanilla: #7F7C77;
    --black-dark-vanilla: #403e3c;
    --just-white: #FAFAFA;
    --lazy-white: #E6E1DE;
    --foxy-orange: #FF7F14;
    --washed-cyan: #4F8BA7;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}

html {
	font-size: 62.5%;
	font-family: 'inherir', 'Seoge UI', sans-serif;
	scroll-behavior: smooth; 
}


body {
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

menu {
    width: 100%;
    background: var(--blue-sea);
}

menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 4% 5%;
}

menu ul li > a {
    text-decoration: none;
    color: var(--just-white);
    font-weight: bolder;
    font-size: xx-large;
    border-radius: 10px;
    margin-left: 5rem;
    padding: 20%;
    background-color: var(--blue-sea);
}

menu ul li > a:hover {
    color: var(--lazy-white);
    background-color: var(--washed-cyan);
    transition: all 150ms ease;
}

main {
    width: 100%;
    background: linear-gradient(180.8deg, var(--blue-sea) 16.69%, var(--just-black) 100%);

}

main > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5% 5%;
}

main h2 {
    font-size: xx-large;
    font-weight: bolder;
    color: var(--lazy-white);
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    background-color: var(--washed-cyan);
}


.message {
    width: 100%;
    background: #76cd2a;
    border-style: solid;
    border-width: 0.4rem;
    border-color: #075a26;
    padding: 1%;
    color: var(--just-white);
    font-weight: bold;
    font-size: large;
}
