@import url('../../style/configuration.css');


body {
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

menu {
    width: 100%;
    background: var(--blue-sea);
}

menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 4% 5%;
}

menu ul li > a {
    text-decoration: none;
    color: var(--just-white);
    font-weight: bolder;
    font-size: xx-large;
    border-radius: 10px;
    margin-left: 5rem;
    padding: 20%;
    background-color: var(--blue-sea);
}

menu ul li > a:hover {
    color: var(--lazy-white);
    background-color: var(--washed-cyan);
    transition: all 150ms ease;
}

main {
    width: 100%;
    background: linear-gradient(180.8deg, var(--blue-sea) 16.69%, var(--just-black) 100%);

}

main > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5% 5%;
}

main h2 {
    font-size: xx-large;
    font-weight: bolder;
    color: var(--lazy-white);
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    background-color: var(--washed-cyan);
}


.message {
    width: auto;
    margin: 0 25%;
    border-radius: 10px;
    background: var(--washed-cyan);
    padding: 1%;
    color: var(--just-white);
    font-weight: bold;
    font-size: large;
}

