@import url('../../style/configuration.css');

body {
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

main {
    background: linear-gradient(180.8deg, var(--blue-sea) 16.69%, var(--just-black) 100%);
    width: 100%;
}

main > a {
    text-decoration: none;
    margin-top: 10rem;
    padding: 1%;
    height: 8rem;
    width: 20rem;
    background: var(--washed-cyan);
    border-style: none;
    border-radius: 10px;
    font-size: x-large;
    color: var(--just-white);
    transition: all 0.3s ease-in-out;
}


main h1 {
    font-size: 5rem;
    color: var(--just-white);
    margin-top: 5rem;
    margin-bottom: 3rem;
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
}

main form .input {
    margin-top: 5rem;
    align-items: center;
    height: auto;
    padding: 2rem;
    height: 10rem;
    width: 50rem;
    padding: 1rem;
    background: transparent;
    border-style: none;
    font-size: x-large;
    color: var(--just-white);
    outline: none;
    transition: all 0.3s ease-in-out;
    border-bottom: var(--foxy-orange);
}


main form hr {
    border-width: 0.1rem;
    border-radius: 10px;
    border-color: var(--foxy-orange);
    width: 35%;
}


main form .submit {
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 8rem;
    width: 20rem;
    background: var(--washed-cyan);
    border-style: none;
    border-radius: 10px;
    font-size: x-large;
    color: var(--just-white);
    transition: all 0.3s ease-in-out;
}

main form .submit:hover, main > a:hover {
    background: var(--foxy-orange);
}

main .message {
    margin-top: 20rem;
    background: #cd2a2a;
    border-style: solid;
    border-width: 0.4rem;
    border-color: #690808;
    border-radius: 10px;
    width: auto;
    padding: 2%;
    color: var(--just-white);
    font-weight: bold;
    font-size: large;
    margin: 2% 35%
}
